{layout '../_meta.latte'}

{block title}{_'devices_failed_title'} | evertide{/block}
{block body}
    <h2>{_'devices_failed_title'}</h2>
    <p>{_'devices_failed_reason'}</p>
    <p>{_'devices_failed_dialog'}</p>
{/block}
