<!DOCTYPE html>
<html lang={$language}>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="assets/evertide.webmanifest" />
    <link rel="stylesheet" href="assets/base.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" type="text/css" />
    <script src="assets/index.js" defer></script>
    <title>{block title}{/block}</title>
</head>

<body>
{block body_}{/block}
</body>

</html>