<!DOCTYPE html>
<html lang={$language}>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="assets/evertide.webmanifest" />
    <link rel="stylesheet" href="assets/base.css" />
    <script src="assets/index.js" defer></script>
    <title>{block title}{/block}</title>
</head>

<body>
{block body}{/block}
</body>

</html>