<!DOCTYPE html>
<html lang={$language}>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="evertide.webmanifest" />
    <title>evertide</title>
</head>

<body>

</body>

</html>