{layout '_html.latte'}


{block title}🌊 evertide{/block}
{block body_}
<header class="main-header">
    <h1>🌊 evertide {_'index_on'} {$instance->getDisplayName()}</h1>
    <nav>
        <a href="/add" n:if=$authorized><i class={icon(plus)}></i>&nbsp;{_'add_title'}</a>
    </nav>
</header>
{include 'index-bare.latte'}
{/block}