Order allow, deny
Options -Indexes

<Directory "src">
    deny from all
</Directory>
<Directory "templates">
    deny from all
</Directory>
<Directory "vendor">
    deny from all
</Directory>
<Directory "cache">
    deny from all
</Directory>
<Directory "opt">
    deny from all
</Directory>