$font: "Original Surfer", display;
$icon: "Phosphor";
$icon-cross: "\e4f6";
$breakpoint: 1400px;
$primary: var(--color-primary);
$secondary: var(--color-secondary);
$light1: #eee;
$light2: #ddd;
$light3: #ccc;
$dark1: #444;
$dark2: #555;
$dark3: #666;
$background: #36353b;
$white: #fff;
$black: #000;
$shadow: rgba(0, 0, 0, 0.4);
