@import url(https://fonts.bunny.net/css?family=original-surfer:400);

/* #region Headers */
body {
    font-family: 'Original Surfer', display;
}

.meta-header,
.main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    z-index: 2;

    nav a {
        text-decoration: none;
        color: var(--color-primary);
    }
}

.meta-header {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    margin: -8px;

    nav {
        display: flex;
        flex-flow: row wrap;
        column-gap: 16px;
        row-gap: 8px;
    }
}

.main-header h1 {
    font-size: 8pt;
}

/* #endregion */

/* #region Links */
.link-grid {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: auto;
    margin: 0 10vw 0;
    min-height: 95vh;
    gap: 1em;

    article {
        min-height: 8em;
        position: relative;

        &>details {
            border: 1px solid #ddd;
            border-radius: 1em;
            background-image: linear-gradient(-30deg, var(--color-secondary), #eee 20%, #eee 80%, var(--color-primary));
            background-size: calc(100% + 240px);
            background-position-x: -80px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
            overflow-y: hidden;

            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 0;

            transition: left 240ms ease-out,
                right 240ms ease-out,
                top 240ms ease-out,
                bottom 240ms ease-out,
                background-position-x 240ms ease-out,
                box-shadow 240ms ease-out,
                z-index 240ms step-end;

            summary::-webkit-details-marker {
                display: none;
            }

            &>summary {
                cursor: pointer;
                color: #444;
                list-style: none;
                margin-top: 17%;
                margin-left: 10%;

                transition-property: margin-top, margin-left;
                transition-duration: 240ms;
                transition-timing-function: ease-in-out;

                &::before {
                    font-family: 'Phosphor';
                    content: '\e4f6';
                    text-align: right;
                    font-size: 20pt;
                    padding: 26pt 0 30pt 72pt;

                    display: block;
                    width: calc(100% - 80pt);
                    height: calc(100% - 80pt);
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    opacity: 0;

                    transition-property: opacity, height;
                    transition-duration: inherit;
                    transition-timing-function: inherit;
                }

                h2 {
                    font-size: 16pt;
                    margin-top: 23pt;
                    transition-property: font-size, margin-top;
                    transition-duration: inherit;
                    transition-timing-function: inherit;

                    &>i:first-child {
                        font-size: 24pt;
                        vertical-align: -6pt;
                        margin-right: 4pt;
                        margin-left: 0;
                        opacity: 1;
                        color: inherit;
                        display: inline-block;
                        position: relative;
                        z-index: -1;

                        transition-property: font-size, vertical-align, margin-left, margin-right, opacity, color;
                        transition-duration: inherit;
                        transition-timing-function: inherit;
                    }
                }

                aside {
                    margin-left: 32pt;
                    margin-top: -18pt;
                    font-size: 8pt;

                    transition-property: margin-left, margin-top, font-size;
                    transition-duration: inherit;
                    transition-timing-function: inherit;

                    a {
                        color: var(--color-secondary);
                    }
                }
            }

            ul {
                display: flex;
                flex-flow: row wrap;
                list-style-type: none;
                gap: 16pt;
                opacity: 0;
                transition: opacity 240ms ease-out;
                padding: 0 8pt;

                li {
                    position: relative;
                    border: 1px solid #ccc;
                    background-color: #ddd;
                    border-radius: 1em;
                    padding: 4pt 16pt 4pt 8pt;
                    overflow: clip;
                    height: 42px;
                    max-width: calc(100% - 26pt);

                    canvas {
                        opacity: 0;
                        transition: opacity 120ms ease-out;
                        position: absolute;
                        top: -100%;
                        left: 0;
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                        object-position: center center;

                        &.bluhrash-ready {
                            opacity: 1;
                        }
                    }

                    a {
                        color: #000;
                        text-decoration: none;
                        white-space: nowrap;
                    }

                    nav {
                        position: absolute;
                        bottom: 0;
                        right: 0;

                        a {
                            text-decoration: none;
                            color: var(--color-primary);
                        }
                    }

                    h4 {
                        position: relative;
                        display: inline-block;
                        margin: unset;
                        padding: 8pt 0;
                        max-width: calc(100% - 24pt);
                    }

                    aside {
                        font-size: 8pt;
                        margin: -8pt 0;
                        color: #444;
                        height: 0;
                    }

                    img {
                        position: relative;
                        /* height: calc(100% + 8pt); */
                        margin: -4pt 8pt -4pt 0
                            /*-8pt*/
                        ;
                        vertical-align: -4pt;
                        width: 32px;
                        height: 32px;

                        &~aside {
                            margin-left: calc(32px + 11pt);
                        }
                    }
                }
            }

            details {
                &>summary {
                    margin-left: 5%;
                    list-style: none;
                    cursor: pointer;
                    color: #444;

                    h3 {
                        margin: unset;
                        font-size: 22pt;

                        &>i {
                            display: inline-block;

                            &:first-child {
                                color: var(--color-secondary);
                                opacity: 0.2;
                                font-size: 64pt;
                                vertical-align: -19pt;
                                margin: 0 -40pt 0 -20pt;
                                position: relative;
                                z-index: -1;
                            }

                            &:last-child {
                                display: inline-block;
                                margin-left: 32pt;
                                transform: rotate(-90deg);
                                transition: transform 120ms ease-out;
                            }
                        }
                    }
                }

                &[open] {
                    &>summary h3>i:last-child {
                        transform: rotate(0deg);
                        transition-timing-function: ease-in;
                    }
                }
            }

            &[open] {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
                left: -10vw;
                right: -10vw;
                top: 0;
                bottom: -200%;
                background-position-x: -240px;
                z-index: 1;
                overflow-y: auto;
                transition: left 240ms ease-in,
                    right 240ms ease-in,
                    top 240ms ease-in,
                    bottom 240ms ease-in,
                    background-position-x 240ms ease-in,
                    box-shadow 240ms ease-in,
                    z-index 240ms step-start;

                &>summary {
                    margin-top: 5%;
                    margin-left: 5%;

                    &::before {
                        height: 20pt;
                        opacity: 1;
                    }

                    h2 {
                        font-size: 24pt;
                        margin-top: -24pt;

                        &>i:first-child {
                            font-size: 92pt;
                            opacity: 0.4;
                            vertical-align: -34pt;
                            margin-right: -62pt;
                            margin-left: -24pt;
                            color: var(--color-primary);
                        }
                    }

                    aside {
                        margin-left: 14pt;
                        margin-top: -54pt;
                        font-size: 16pt;
                    }
                }

                ul {
                    opacity: 1;
                    transition-timing-function: ease-in;
                }
            }

        }
    }
}

/* #endregion */

/* #region Form */
.bare-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    label>span {
        display: block;
    }

    fieldset {
        display: flex;
        flex-flow: column nowrap;

        &>legend {
            // TODO
        }
    }
}

/* #endregion */

/* #region Hub */
.link-hub {
    display: grid;
    grid-template-rows: calc(100vh - 109px) 50vh 50vh;
    grid-template-columns: auto;
    margin: 8px -8px;
}

.link-hub-form {
    padding: 10pt 12pt;
    align-items: center;
    flex-flow: column nowrap;

    &.hub-link {
        position: relative;
        display: flex;
        justify-content: space-around;

        &::before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color-secondary);
            opacity: 0.3;
            z-index: -1;
        }

        input[type=url] {
            border: none;
            background-color: #ddd;
            border-radius: 48pt;
            padding: 24pt;
            font-size: 32pt;
        }

        input[type=submit],
        label,
        select {
            font-size: 24pt;
            font-family: 'Original Surfer', display;
        }

        input[type=submit],
        input[type=url],
        label,
        select {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
        }

        select {
            background-color: transparent;
            border: none;
        }

        input[type=submit],
        label {
            background-color: #eee;
            border: none;
            color: #444;
            padding: 8pt 24pt;
            border-radius: 32pt;
        }
    }
}


/* #endregion */

/* #region Form Categories */
.add-link-category {
    details {
        border: 1px solid #ddd;
        border-radius: 1em;
        overflow: clip;
        list-style: none;

        .category {
            background-color: #eee;

            input[type=checkbox],
            input[type=radio] {
                display: none;

                &+label {
                    cursor: pointer;
                    background-image: linear-gradient(120deg, #eee 90%, var(--color-secondary));
                    background-size: calc(100% + 80px);
                    background-position-x: 0;
                    margin-top: -20px;
                    padding: 4pt 8pt;
                    border-radius: 1em;
                    display: block;
                    transition: background-position 240ms ease-out;

                    &>i {
                        font-size: 32pt;
                        color: #444;
                        opacity: 1;
                        vertical-align: -8pt;
                        margin: 0 8pt 0 8pt;
                        transition-property: margin, color, opacity, vertical-align, font-size;
                        transition-duration: inherit;
                        transition-timing-function: inherit;
                    }

                    &>span {
                        display: inline;
                        font-size: 16pt;
                    }
                }

                &:checked {
                    &+label {
                        background-position-x: -80px;
                        transition-timing-function: ease-in;

                        &>i {
                            font-size: 48pt;
                            color: var(--color-primary);
                            opacity: 0.4;
                            vertical-align: -17pt;
                            margin: 0 -28pt 0 8pt;
                        }
                    }
                }
            }
        }
    }
}

/* #endregion */

/* #region Form Preview */
.add-link-preview {
    position: relative;

    canvas {
        position: absolute;
        top: -10px;
        left: 0;
        height: calc(100% + 10px);
        width: 100%;
        opacity: 0.6;
        z-index: -1;
    }

    img {
        width: 64px;
        height: 64px;
    }
}

/* #endregion */

@media (min-width: 1400px) {
    .link-grid {
        grid-template-columns: repeat(var(--grid-cols), 1fr);
        grid-template-rows: repeat(var(--grid-rows), 1fr);
        margin-top: -20pt;

        article {
            grid-column: var(--grid-col) / span 2;
            grid-row: var(--grid-row);

            &>details {
                ul {
                    padding: 0 24pt;

                    li {
                        max-width: calc(100% - 56pt);
                    }
                }

                &>summary {
                    margin-top: calc((47.5vh - 10pt) / var(--grid-rows) - 32px);
                    margin-left: 5%;

                    &::before {
                        padding: 36pt 40pt 30pt;
                    }

                    h2 {
                        font-size: 24pt;
                    }

                    aside {
                        margin-left: 60pt;
                        margin-top: -30pt;
                        font-size: 12pt;
                    }
                }

                &[open] {
                    left: calc(-10vw * var(--exp-left));
                    right: calc(-10vw * var(--exp-right));
                    top: calc(-100% * var(--exp-top));
                    bottom: calc(-100% * var(--exp-bottom));

                    &>summary {
                        font-size: 28pt;

                        h2>i:first-child {
                            font-size: 48pt;
                            vertical-align: -12pt;
                        }
                    }
                }
            }
        }
    }

    .link-hub {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50vh auto;
        row-gap: 10pt;
        column-gap: 20vw;
        padding: 0 20vw;

        &.hub-link {
            grid-column: 1 / 3;
            flex-flow: row wrap;

            &::before {
                left: -20vw;
                right: -20vw;
            }

            h2,
            input[type=url] {
                flex: 1 0 calc(100% - 64px);
            }
        }
    }
}

@media only screen and (prefers-color-scheme: dark) {

    /* #region Headers */
    body {
        background-color: #36353b;
        color: #fff;
    }

    .meta-header {
        background-color: #444;
        border-bottom-color: #555;
    }

    /* #endregion */

    /* #region Links */
    .link-grid article>details {
        border-color: #555;
        background-image: linear-gradient(-30deg, var(--color-secondary), #444 20%, #444 80%, var(--color-primary));

        &>summary,
        details>summary {
            color: #fff;

        }

        ul li {
            border-color: #666;
            background-color: #555;

            h4,
            aside {
                color: #fff;
            }

            canvas.blurhash-ready {
                opacity: 0.4;

            }
        }
    }

    /* #endregion */
}