@import url(https://fonts.bunny.net/css?family=original-surfer:400);

/* #region Headers */
body {
    font-family: 'Original Surfer', display;
}

.meta-header,
.main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    z-index: 2;
}

.meta-header nav a,
.main-header nav a {
    text-decoration: none;
}

.meta-header {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    margin: -8px;
}

.meta-header nav {
    display: flex;
    flex-flow: row wrap;
    column-gap: 16px;
    row-gap: 8px;
}

.main-header h1 {
    font-size: 8pt;
}

/* #endregion */

/* #region Links */
.link-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    margin: -20pt 10vw 0;
    min-height: 95vh;
    gap: 1em;
}

.link-grid article {
    min-height: 8em;
    position: relative;
    grid-column: var(--grid-col) / span 2;
    grid-row: var(--grid-row);
}

.link-grid article>details {
    border: 1px solid #ddd;
    border-radius: 1em;
    background-image: linear-gradient(-30deg, var(--cat-color-secondary), #eee 20%, #eee 80%, var(--cat-color-primary));
    background-size: calc(100% + 240px);
    background-position-x: -80px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
    overflow-y: hidden;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;

    transition: left 240ms ease-out,
        right 240ms ease-out,
        top 240ms ease-out,
        bottom 240ms ease-out,
        background-position-x 240ms ease-out,
        box-shadow 240ms ease-out,
        z-index 240ms step-end;
}

.link-grid article>details[open] {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    left: calc(-10vw * var(--exp-left));
    right: calc(-10vw * var(--exp-right));
    top: calc(-100% * var(--exp-top));
    bottom: calc(-100% * var(--exp-bottom));
    background-position-x: -240px;
    z-index: 1;
    overflow-y: auto;
    transition: left 240ms ease-in,
        right 240ms ease-in,
        top 240ms ease-in,
        bottom 240ms ease-in,
        background-position-x 240ms ease-in,
        box-shadow 240ms ease-in,
        z-index 240ms step-start;
}

.link-grid article>details>summary {
    cursor: pointer;
    color: #444;
    list-style: none;
    margin-top: 16%;
    margin-left: 20%;

    transition-property: margin-top, margin-left;
    transition-duration: 240ms;
    transition-timing-function: ease-in-out;
}

.link-grid article>details[open]>summary {
    margin-top: 5%;
    margin-left: 5%;
}

.link-grid article>details>summary::before {
    font-family: 'Phosphor';
    content: '\e4f6';
    text-align: right;
    font-size: 20pt;
    padding: 50pt 40pt 30pt;

    display: block;
    width: calc(100% - 80pt);
    height: calc(100% - 80pt);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;

    transition-property: opacity, height;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

.link-grid article>details[open] summary::before {
    height: 20pt;
    opacity: 1;
}

.link-grid article>details summary h2 {
    font-size: 24pt;
    margin-top: 23pt;
    transition-property: font-size, margin-top;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

.link-grid article>details[open] summary h2 {
    font-size: 28pt;
    margin-top: -24pt;
}

.link-grid article>details summary h2>i:first-child {
    font-size: 48pt;
    vertical-align: -12pt;
    margin-right: 4pt;
    margin-left: 0;
    opacity: 1;
    color: inherit;
    display: inline-block;
    position: relative;
    z-index: -1;

    transition-property: font-size, vertical-align, margin-left, margin-right, opacity, color;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

.link-grid article>details[open] summary h2>i:first-child {
    font-size: 92pt;
    opacity: 0.4;
    vertical-align: -30pt;
    margin-right: -64pt;
    margin-left: -24pt;
    color: var(--cat-color-primary);
}

.link-grid article>details ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    gap: 16pt;
    opacity: 0;
    transition: opacity 240ms ease-out;
}

.link-grid article>details[open] ul {
    opacity: 1;
    transition-timing-function: ease-in;
}

.link-grid article>details ul li {
    position: relative;
    border: 1px solid #ccc;
    background-color: #ddd;
    border-radius: 1em;
    padding: 4pt 16pt 4pt 8pt;
    overflow: clip;
    height: 42px;
}

.link-grid article>details ul li canvas {
    opacity: 0;
    transition: opacity 120ms ease-out;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center center;
}

.link-grid article>details ul li canvas.blurhash-ready {
    opacity: 1;
}

.link-grid article>details ul li a {
    object-fit: cover;
    color: #000;
    text-decoration: none;
}

.link-grid article>details ul li h4 {
    position: relative;
    display: inline-block;
    margin: unset;
    padding: 8pt 0;
}

.link-grid article>details ul li aside {
    font-size: 8pt;
    margin: -8pt 0;
    color: #444;
    height: 0;
}

.link-grid article>details ul li img {
    position: relative;
    /* height: calc(100% + 8pt); */
    margin: -4pt 8pt -4pt 0
    /*-8pt*/
    ;
    vertical-align: -4pt;
    width: 32px;
    height: 32px;
}
.link-grid article>details ul li img ~ aside {
    margin-left: calc(32px + 11pt);
}

.link-grid article>details ul li nav {
    position: absolute;
    bottom: 0;
    right: 0;
}

.link-grid article>details ul li nav a {
    text-decoration: none;
    color: var(--cat-color-primary);
}

.link-grid article>details details>summary {
    margin-left: 5%;
    list-style: none;
    cursor: pointer;
    color: #444;
}

.link-grid article>details details>summary h3 {
    margin: unset;
    font-size: 22pt;
}

.link-grid article>details details>summary h3 i:first-child {
    color: var(--cat-color-secondary);
    opacity: 0.2;
    font-size: 64pt;
    vertical-align: -19pt;
    margin: 0 -40pt 0 -20pt;
    display: inline-block;
    position: relative;
    z-index: -1;
}

.link-grid article>details details>summary h3 i:last-child {
    display: inline-block;
    margin-left: 32pt;
    transform: rotate(-90deg);
    transition: transform 120ms ease-out;
}

.link-grid article>details details[open]>summary h3 i:last-child {
    transform: rotate(0deg);
    transition-timing-function: ease-in;
}

.link-grid article>details>summary aside {
    margin-left: 60pt;
    margin-top: -30pt;
    font-size: 12pt;

    transition-property: margin-left, margin-top, font-size;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

.link-grid article>details[open]>summary aside {
    margin-left: 14pt;
    margin-top: -54pt;
    font-size: 16pt;
}

.link-grid article>details>summary aside a {
    color: var(--cat-color-secondary);
}

.link-grid article>details summary::-webkit-details-marker {
    display: none;
}

/* #endregion */

/* #region Form */
.bare-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bare-form label>span {
    display: block;
}

.bare-form fieldset {
    display: flex;
    flex-flow: column nowrap;
}

.bare-form fieldset>legend {}

/* #endregion */

/* #region Form Categories */
.add-link-category details {
    border: 1px solid #ddd;
    border-radius: 1em;
    overflow: clip;
    list-style: none;
}

.add-link-category details .category input[type=radio] {
    display: none;
}


.add-link-category details .category {
    background-color: #eee;
}

.add-link-category details .category input[type=radio]+label {
    cursor: pointer;
    background-image: linear-gradient(120deg, #eee 90%, var(--cat-color-secondary));
    background-size: calc(100% + 80px);
    background-position-x: 0;
    margin-top: -20px;
    padding: 4pt 8pt;
    border-radius: 1em;
    display: block;
    transition: background-position 240ms ease-out;
}

.add-link-category details .category input[type=radio]+label>i {
    font-size: 32pt;
    color: #444;
    opacity: 1;
    vertical-align: -8pt;
    margin: 0 8pt 0 8pt;
    transition-property: margin, color, opacity, vertical-align, font-size;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

.add-link-category details .category input[type=radio]+label>span {
    display: inline;
    font-size: 16pt;
}

.add-link-category details .category input[type=radio]:checked+label {
    background-position-x: -80px;
    transition-timing-function: ease-in;
}

.add-link-category details .category input[type=radio]:checked+label>i {
    font-size: 48pt;
    color: var(--cat-color-primary);
    opacity: 0.4;
    vertical-align: -17pt;
    margin: 0 -28pt 0 8pt;
}

/* #endregion */

/* #region Form Preview */
.add-link-preview {
    position: relative;
}

.add-link-preview canvas {
    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}

.add-link-preview img {
    width: 64px;
    height: 64px;
}

/* #endregion */

@media only screen and (prefers-color-scheme: dark) {

    /* #region Headers */
    body {
        background-color: #36353b;
        color: #fff;
    }

    .meta-header {
        background-color: #444;
        border-bottom-color: #555;
    }

    /* #endregion */

    /* #region Links */
    .link-grid article>details {
        border-color: #555;
        background-image: linear-gradient(-30deg, var(--cat-color-secondary), #444 20%, #444 80%, var(--cat-color-primary));
    }

    .link-grid article>details summary,
    .link-grid article>details details>summary {
        color: #fff;
    }

    .link-grid article>details ul li {
        border-color: #666;
        background-color: #555;
    }

    .link-grid article>details ul li h4 {
        color: #fff;
    }

    .link-grid article>details ul li canvas.blurhash-ready {
        opacity: 0.4;
    }

    /* #endregion */
}