@use "./variables" as *;
@import url(https://fonts.bunny.net/css?family=original-surfer:400);

body {
    font-family: $font;

    @media only screen and (prefers-color-scheme: dark) {
        background-color: $background;
        color: $white;
    }
}

.meta-header,
.main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    nav {
        display: flex;
        flex-flow: row wrap;
        column-gap: 16pt;
        row-gap: 4pt;

        a {
            text-decoration: none;
            color: $primary;
        }
    }

    @media (min-width: $breakpoint) {
        flex-wrap: nowrap;
        padding: 4pt 12pt;
    }
}

.meta-header {
    margin: -8px;
    padding: 4pt 12pt;
    background-color: $light1;
    border-bottom: 1px solid $light2;

    @media only screen and (prefers-color-scheme: dark) {
        background-color: $dark1;
        border-bottom-color: $dark2;
    }
}

.main-header h1 {
    font-size: 8pt;
    
    @media (min-width: $breakpoint) {
        max-width: calc(10vw - 16px);
    }

    &>a {
        text-decoration: none;
        color: inherit;
    }
}

img {

    &:not([src]),
    &[src=""] {
        opacity: 0;
        transition: 480ms linear 120ms;
    }

    &[src="*"] {
        opacity: 1;
    }
}