@use "./_variables" as *;

.link-grid {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 8em;
    margin: 0 10vw 0;
    gap: 1em;

    @media (min-width: $breakpoint) {
        grid-template-columns: repeat(var(--grid-cols), 1fr);
        grid-auto-rows: unset;
        grid-template-rows: repeat(var(--grid-rows), 1fr);
        min-height: 95vh;
        margin-top: -20pt;
    }

    article {
        min-height: 8em;
        position: relative;

        @media (min-width: $breakpoint) {
            grid-column: var(--grid-col) / span 2;
            grid-row: var(--grid-row);
        }

        & > details {
            border: 1px solid $light2;
            border-radius: 1em;
            background-image: linear-gradient(-30deg, $secondary, $light1 20%, $light1 80%, $primary);
            background-size: calc(100% + 240px);
            background-position-x: -80px;
            box-shadow: 0 0pt 0pt $shadow;
            overflow-y: hidden;

            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 0;

            transition:
                left 240ms ease-out,
                right 240ms ease-out,
                top 240ms ease-out,
                bottom 240ms ease-out,
                background-position-x 240ms ease-out,
                box-shadow 240ms ease-out,
                z-index 240ms step-end;

            @media only screen and (prefers-color-scheme: dark) {
                border-color: $dark2;
                background-image: linear-gradient(-30deg, $secondary, $dark1 20%, $dark1 80%, $primary);
            }

            summary {
                cursor: pointer;
                color: $dark1;
                list-style: none;

                @media only screen and (prefers-color-scheme: dark) {
                    color: $white;
                }

                &::-webkit-details-marker {
                    display: none;
                }

                h2,
                h3 {
                    margin: unset;
                    white-space: nowrap;
                    overflow: clip;
                    text-overflow: ellipsis;
                }

                h2 {
                    text-align: center;
                    font-size: 16pt;
                    margin-bottom: 0;

                    transition: font-size 240ms ease-in-out,
                                margin-bottom 240ms ease-in-out;

                    @media (min-width: $breakpoint) {
                        font-size: 24pt;
                    }
                }

                hgroup > i,
                h3 > i:first-child {
                    display: inline-block;
                    font-size: 24pt;
                    margin-right: 4pt;
                    margin-left: 0;
                    opacity: 1;
                    color: inherit;
                    position: relative;
                    z-index: -1;

                    transition:
                        font-size 240ms ease-in-out,
                        margin-left 240ms ease-in-out,
                        margin-right 240ms ease-in-out,
                        opacity 240ms ease-in-out,
                        color 240ms ease-in-out;

                    @media (min-width: $breakpoint) {
                        font-size: 48pt;
                    }
                }

                h3 {
                    font-size: 16pt;
                    padding-left: 20pt;

                    @media (min-width: $breakpoint) {
                        font-size: 22pt;
                    }

                    i {
                        &:first-child {
                            color: $secondary;
                            opacity: 0.5;
                            font-size: 64pt;
                            vertical-align: -19pt;
                            margin: 0 -40pt 0 -20pt;
                            position: relative;
                            z-index: -1;
                        }

                        &:last-child {
                            margin-left: 32pt;
                            transform: rotate(-90deg);
                            transition: transform 120ms ease-out;
                            display: inline-block;
                        }
                    }
                }
            }

            & > summary {
                height: 100%;
                transition: height 240ms ease-in-out;

                hgroup {
                    display: grid;
                    grid-template-columns: 1fr auto auto 1fr;
                    grid-template-rows: 1fr auto auto 1fr;
                    gap: 4pt;
                    height: 100%;
                    align-items: center;
                    justify-items: start;

                    &::before {
                        font-family: $icon;
                        font-size: 14pt;
                        content: $icon-cross;
                        opacity: 0;
                        margin-right: 8pt;

                        grid-column: 4;
                        grid-row: 2 / 4;
                        align-self: center;
                        justify-self: end;

                        transition: opacity 240ms ease-in-out;

                        @media (min-width: $breakpoint) {
                            font-size: 20pt;
                            margin-right: 20pt;
                        }
                    }
                    & > i {
                        grid-row: 2 / 4;
                        grid-column: 2;
                    }
                    h2 {
                        grid-column: 3;
                        grid-row: 2 / 4;
                        &:not(:last-child) {
                            grid-row: 2;
                            align-self: end;
                            margin-bottom: -4pt;
                        }
                    }
                    aside {
                        grid-column: 3;
                        grid-row: 3;
                        align-self: start;
                        margin-bottom: -8pt;
                    }
                }

                &:focus {
                    outline: none;
                }

                aside {
                    font-size: 8pt;
                    white-space: nowrap;
                    overflow: clip;
                    text-overflow: ellipsis;

                    transition: font-size 240ms ease-in-out;

                    @media (min-width: $breakpoint) {
                        font-size: 12pt;
                    }

                    a {
                        color: $secondary;
                        i {
                            font-size: inherit !important;
                        }
                    }
                }
            }

            .scroll-container {
                overflow-y: auto;
                max-height: calc(100% - 72pt);
                position: absolute;
                left: 0;
                right: 0;

                @media (min-width: $breakpoint) {
                    max-height: calc(100% - 96pt);
                }

                // &::before {
                //     content: " ";
                //     position: absolute;
                //     top: 78pt;
                //     left: 0;
                //     width: 100%;
                //     height: 16pt;
                //     z-index: 2;
                //     background-image: linear-gradient(to bottom, $light1, transparent);

                //     @media (min-width: $breakpoint) {
                //         top: 102pt;
                //         content: unset;
                //     }

                //     @media only screen and (prefers-color-scheme: dark) {
                //         background-image: linear-gradient(to bottom, $dark1, transparent);
                //     }
                // }
            }

            ul {
                display: flex;
                flex-flow: row wrap;
                list-style-type: none;
                gap: 16pt;
                opacity: 0;
                transition: opacity 240ms ease-out;
                padding: 0 8pt;

                @media (min-width: $breakpoint) {
                    padding: 0 24pt;
                }

                li {
                    border: 1px solid $light3;
                    background-color: $light2;
                    border-radius: 1em;
                    overflow: clip;
                    max-width: 100%;
                    position: relative;
                    flex: 1 0 15%;

                    @media only screen and (prefers-color-scheme: dark) {
                        border-color: $dark3;
                        background-color: $dark2;
                    }

                    @media (min-width: $breakpoint) {
                        flex: 0 0 15%;
                    }

                    & > a {
                        display: block;
                        color: $black;
                        text-decoration: none;
                        white-space: nowrap;
                        position: relative; // Only to keep it in front of the canvas

                        @media only screen and (prefers-color-scheme: dark) {
                            color: $white;
                        }

                        &:focus-within {
                            box-shadow: inset 0 0 8pt $primary;
                        }

                        img {
                            margin-left: 8pt;
                            margin-right: -8pt;
                            vertical-align: -8pt;
                            width: 24pt;
                            height: 24pt;
                            border-radius: 0.5em;

                            & ~ span {
                                max-width: calc(100% - 48pt);
                                padding-left: 12pt;
                            }

                            & ~ aside {
                                max-width: calc(100% - 64pt);
                                left: 40pt;
                            }
                        }

                        span {
                            display: inline-block;
                            padding: 12pt 16pt 13pt;
                            max-width: calc(100% - 24pt);
                            overflow: clip;
                            text-overflow: ellipsis;
                        }

                        aside {
                            font-size: 8pt;
                            color: $dark1;
                            position: absolute;
                            top: 27pt;
                            left: 16pt;
                            display: block;
                            max-width: calc(100% - 40pt);
                            overflow-x: clip;
                            text-overflow: ellipsis;

                            @media only screen and (prefers-color-scheme: dark) {
                                color: $light2;
                            }
                        }
                    }

                    canvas {
                        opacity: 0;
                        transition: opacity 120ms ease-out;
                        position: absolute;
                        width: 100%;
                        height: 240px;
                        top: calc(-120px + 16pt);

                        &.blurhash-ready {
                            opacity: 0.6;

                            @media only screen and (prefers-color-scheme: dark) {
                                opacity: 0.4;
                            }
                        }

                        & ~ a {
                            span,
                            aside {
                                text-shadow: 0 0 6pt $white;

                                @media only screen and (prefers-color-scheme: dark) {
                                    text-shadow: 0 0 6pt $black;
                                }
                            }
                        }
                    }

                    nav {
                        padding: 8pt 2pt 0 12pt;
                        background-image: radial-gradient(circle at 90% 85%, $light2, transparent 70%);

                        @media only screen and (prefers-color-scheme: dark) {
                            background-image: radial-gradient(circle at 90% 85%, $dark2, transparent 70%);
                        }
                    }
                }
            }

            details {
                & > summary {
                    margin-left: 16pt;
                }

                &[open] {
                    h3 > i:last-child {
                        transform: rotate(0deg);
                        transition-timing-function: ease-in;
                    }
                }
            }

            nav {
                position: absolute;
                bottom: 0;
                right: 0;
                padding-right: 2pt;

                a {
                    color: $primary;
                    text-decoration: none;
                }
            }

            &[open] {
                left: -10vw;
                right: -10vw;
                top: -36vh;
                bottom: -36vh;
                background-position-x: -240px;
                z-index: 1;
                transition:
                    left 240ms ease-in,
                    right 240ms ease-in,
                    top 240ms ease-in,
                    bottom 240ms ease-in,
                    background-position-x 240ms ease-in,
                    box-shadow 240ms ease-in,
                    z-index 240ms step-start;

                @media (min-width: $breakpoint) {
                    left: calc(-10vw * var(--exp-left));
                    right: calc(-10vw * var(--exp-right));
                    top: calc(-100% * var(--exp-top));
                    bottom: calc(-100% * var(--exp-bottom));
                }

                & > summary {
                    height: 72pt;

                    @media (min-width: $breakpoint) {
                        height: 96pt;
                    }

                    hgroup {
                        &::before {
                            opacity: 1;
                        }

                        & > i {
                            font-size: 64pt;
                            opacity: 0.4;
                            margin-right: -48pt;
                            margin-left: 0pt;
                            color: $primary;

                            @media (min-width: $breakpoint) {
                                font-size: 92pt;
                                margin-right: -57pt;
                                margin-left: -24pt;
                            }
                        }

                        // h2:not(:last-child) {
                        //     margin-bottom: -8pt;
                            
                        //     @media (min-width: $breakpoint) {
                        //         margin-bottom: -12pt;
                        //     }
                        // }

                        aside {
                            font-size: 12pt;
                        }
                    }
                }

                ul {
                    opacity: 1;
                    transition-timing-function: ease-in;
                }
            }

            &[open],
            &:focus-within {
                box-shadow: 0 4pt 12pt $shadow;
            }
        }

        @media (max-width: $breakpoint) {
            &:nth-child(1) > details[open] {
                top: 0;
                bottom: -72vh;
            }

            &:nth-child(2) > details[open] {
                top: -18vh;
                bottom: -54vh;
            }

            &:nth-last-child(2) > details[open] {
                top: -54h;
                bottom: -18vh;
            }

            &:nth-last-child(1) > details[open] {
                top: -72vh;
                bottom: 0;
            }
        }
    }
}
